.productContainer{
    padding-top: 110px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.imageContainer{
    height: 600px;
    width: 500px;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    max-width: 400px;
}
.sizeSection{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 5px 0 25px;
}
.sizeBox{
    width: 50px;
    height: 30px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
}
.sizeBox:hover{
    background-color: rgb(247, 247, 247);
}
.buttonSection{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
.buttonSection button{
    padding: 17px 20px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.productName{
    font-size: 23px;
    font-weight: 600;
}
.productNameTitle{
    font-size: 14px;
    font-weight: 600;
    color: rgb(146, 146, 146);
}
.price{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
}
.sizeText{
    font-size: 15px;
    font-weight: 600;
    margin-top: 40px;
}
.cartButton{
    background-color: black;
    color: white;
    font-weight: 700;
}
.productAbout{
    margin-top: 30px;
}
.cartButtonIn{
    background-color: rgb(110, 110, 110);
    color: rgb(221, 221, 221);
    font-weight: 500;
    font-size: 11px;
}
.soldOut{
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    color: rgb(255, 68, 61);
}
@media only screen and (max-width: 802px){
    .productContainer{
        gap: 20px;
        
    }
    .image{
        width: 350px;
    }
    .productContainer{
        margin: 0 20px;
    }
    .imageContainer{
    width: 480px;
    }
}
@media only screen and (max-width: 738px){
    .productContainer{
        gap: 20px;
        flex-wrap: wrap;
        padding-bottom: 200px;
    }
    .image{
        width: 350px;
    }
    .productContainer{
        margin: 0 20px;
    }
    .imageContainer{
    width: 480px;
    height: 510px;
    }
    .detailsSection{
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 473px){
    .productContainer{
        gap: 20px;
        flex-wrap: wrap;
        padding-bottom: 150px;
    }
    .image{
        width: 310px;
    }
    
    .productContainer{
        margin: 0 5px;
    }
    .imageContainer{
    width: 98vw;
    height: 410px;
    }
    .productName{
        font-size: 20px;
    }
    .detailsSection{
        width: 90vw;
        display: flex;
        padding-left: 0;
        flex-direction: column;
        align-items: center;
    }
    .productAbout{
        font-size: 14px;
    }
}