.WishListContainer {
  padding-top: 110px;
  margin: 0 420px;
  min-height: 80vh;
  padding-bottom: 200px;
}
.WishListContainer h1 {
  color: #2c3e50;
  margin-bottom: 30px;
}


.emptyContainer {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lottieIcon {
  width: 530px;
}

@media only screen and (max-width: 1500px) {
  .WishListContainer {
    margin: 0 320px;
  }
}
@media only screen and (max-width: 1500px) {
  .WishListContainer {
    margin: 0 220px;
  }
}
@media only screen and (max-width: 1000px) {
  .WishListContainer {
    margin: 0 170px;
  }
}
@media only screen and (max-width: 835px) {
  .WishListContainer {
    width: 470px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 500px) {
  .WishListContainer {
    width: 400px;
    margin: 0 auto;
  }
  .WishListContainer h1 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 407px) {
  .WishListContainer {
    width: 100vw;
    margin: 0 auto;
    padding-right: 7px;
    padding-left: 7px;
  }
}
